@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
}

* {
  font-family: Roboto;
  box-sizing: border-box;
}

main {
  width: 60%;
  margin: 0 auto;
}

main > section {
  display: flex;
  width: 100%;
}

.input-types-container {
  gap: 0.5em;
}

.translation-section {
  margin-top: 30px;

  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  grid-template-rows: minmax(200px, 1fr);
  column-gap: 15px;
}

.translation-section label {
  padding-left: 10px;

  color: #2c7fea;
  font-size: medium;
  font-weight: 700;

  text-decoration-line: underline;
  text-decoration-thickness: 2.5px;
  text-underline-offset: 17.5px;

  margin-bottom: 15px;
}

.translation-section article {
  display: flex;
  flex-direction: column;

  height: 100%;
}

.text-wrapper {
  height: inherit;
}

.translation-section textarea {
  box-sizing: border-box;

  padding-top: 15px;
  padding-bottom: 0;
  padding-left: 15px;
  padding-right: 60px;

  font-size: 1.5rem;

  height: inherit;

  outline: none;
  border-radius: 8px;

  resize: none;

  width: 100%;

  border: 1px solid #e0e0e0;

  align-self: self-end;
}

.translation-section article > div {
  position: relative;
}

.text-wrapper span {
  position: absolute;
  top: 10px;
  right: 15px;
}

.text-wrapper button {
  position: relative;

  width: 45px;
  height: 45px;

  background-color: transparent;
  border: none;
  border-radius: 50%;

  transition: background-color 0.2s ease-out;
}

.icon::before {
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.text-wrapper button::before {
  content: "\f00d";
  font-size: 1.5em;
  color: #818488;

  width: 20px;
  height: 20px;

  position: absolute;
  inset: 50%;
  transform: translate(-50%, -50%);
}

.text-wrapper button:hover {
  background-color: #f5f5f5;
}

.output-box span {
  border: 1px solid #f5f5f5;
  border-radius: 8px;

  background-color: #f5f5f5;

  height: inherit;
}

.output-box p {
  margin-left: 15px;

  font-size: 1.5rem;
}

#translate-btn {
  position: fixed;
  bottom: 60%;
  left: 50%;
  transform: translateX(-50%);

  width: 150px;
  height: 55px;

  border-radius: 12px;
  border: 3px solid #757575;

  background-color: #fff;

  color: #757575;
  font-size: 1rem;
  font-weight: 700;

  transition: all 0.2s ease-in-out;
}

#translate-btn:hover,
#translate-btn:focus,
#translate-btn:active {
  border: 3px solid #2c7fea;

  color: #2c7fea;

  background-color: #f5f5f5;
}
